{{!-- views/vencedor.handlebars --}}

<div class="container">
  <h1>E o grande vencedor é...</h1>

  <div class="card">
    <h2>{{vencedor.name}}</h2>
    <p>Número para contato: <strong>{{vencedor.number}}</strong></p>
  </div>

  <a href="/participantes" class="button">Voltar para a lista</a>
</div>
